/* for image */
.logo-img{
 width: 150px;
 height: 140px;
 object-fit: contain;
}

.formInputContainer {
  position: relative;
  width: 200px;
  height: 10vh;
}

.formInput {
  position: relative;
}
.input {
  padding: 10px;
}

.icon {
  position: absolute;
  width: 27px;
  height: 27px;
  transform: translateY(-50%);
  top: 25px;
  left: 160px;
}

@media (max-width: 300px) {
  .formInputContainer {
    position: relative;
    width: 200px;
    height: 10vh;
  }
  .formInput {
    position: relative;
  }
  .input {
    padding: 10px;
  }
  
  .icon {
    position: absolute;
    width: 27px;
    height: 27px;
    transform: translateY(-50%);
    top: 650px;
    left: 790px;
  }
}